* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.z {
    color: #3d1558;
    font-family: Lora;
    margin: 10px;
    font-size: 35px;
    text-align: center;
}

.z span {
    border-radius: 50px;
    padding: 5px;
    background-color: #df678c;
}

a {
    text-decoration: none;
}

.menu ul {
    text-align: center;
}

.menu li {
    font-family: Righteous;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #3d1558;
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5rem;
}

.br-top {
    margin-top: 5px;
    border-top: 1px solid #3d1558;
}

.sub-menu-1 {
    display: none;
}

.menu ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #fff;
}

.menu ul li:hover .sub-menu-1 ul {
    display: block;
    border: 1px solid #3d1558;
}

.menu ul li:hover .sub-menu-1 ul li {
    color: #3d1558;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.menu ul li:hover .sub-menu-1 ul li a {
    color: #3d1558;
}

.ul-1 {
    border-top: 1px solid #3d1558;
}

.container {
    display: inline-block;
}

.post {
    margin-top: 50px;
    margin-bottom: 200px;
    text-align: center;
}

.post h3 {
    margin-bottom: 50px;
}

article h1 {
    margin: 0;
    font-size: 30px;
    font-family: Lora;
    color: #66487a;
}

.grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 25% 95% 25%;
    background-color: #ffffff;
    padding: 0px;
    width: 916px;
}

.grid-item {
    font-family: Hubballi;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grid-item img {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.grid-item ul {
    margin-top: 20px;
    margin-bottom: 30px;
}

.grid-item ul li {
    float: left;
    list-style: none;
}

.grid-item ul li a {
    text-decoration: none;
}

.grid-item span {
    font-family: Pacifico;
    color: #3d1558;
    margin-bottom: 50px;
}

.grid-item h3 {
    color: #3d1558;
    font-size: 30px;
    font-family: Fredoka One;
}

.grid-item-1 {
    display: flexbox;
}

.card {
    margin: 10px;
}

.button {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    color: #3d1558;
    background-color: #df678c;
}

footer {
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: #3d1558;
    text-align: center;
    font-family: Dela Gothic One;
}

footer h1 {
    font-size: 20px;
    padding-top: 25px;
}

footer h3 {
    font-family: Pacifico;
    font-size: 20 px;
}

footer i {
    margin: 5px;
}

.more {
    margin-top: 10px;
    margin-bottom: 10px;
}

.more a {
    padding: 3px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: inline;
    }
    .grid-item {
        width: 250px;
        display: grid;
    }
    .grid-item h3 {
        font-size: 20px;
    }
    .post {
        width: 300px;
        margin-right: -50px;
    }
    .post img {
        width: 100%;
    }
}